<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>云农报表管理系统</title>
    <meta name="description" content="云农报表管理系统" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />

    <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/site.min.css" />

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <script>
    function imgLoaded(img) {
        var imgWrapper = img.parentNode;
        imgWrapper.className += imgWrapper.className? ' loaded' : 'loaded';
    }
    </script>

    <link rel="canonical" href="http://expo.bootcss.com/niu-yun/" />
    <meta name="generator" content="Ghost 0.6" />
    <link rel="alternate" type="application/rss+xml" title="Bootstrap优站精选" href="http://expo.bootcss.com/rss/" />
    
</head>


<body class="post-template tag-chinese-website tag-bootstrap-v3">

    <div class="header" style="background-image: url(/img/2de797545de56274f03a5920eb3a1.jpg)">
    <div class="logoimg">
        <a href="http://expo.bootcss.com" title="Bootstrap 优站精选"><img src="http://image.youzhan.org/e/35/22ccaf4c24ef690f7767e6a3ba5f0.png" alt="云农报表" width="78"></a>
    </div>
    <div class="container">
        <div class="row">
        <div class="col-xs-12">
        <div class="logotxt"><h1><a href="#">云农报表</a></h1></div> 
        <h2 class="site-name text-center">日报管理</span></h2>
        </div>
    </div>

    </div>
    </div>
    <main class="main" role="main">
        <div class="container">
            <div class="row">

                <div class="col-xs-12">
                    <div class="maincontent">
                        <article class="post tag-chinese-website tag-bootstrap-v3">

                            {{{body}}}

                        </article>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/handlebars.js/3.0.3/handlebars.min.js"></script>
</body>
</html>